##**Installing PYSPARK**

In [ ]:
pip install pyspark #Installing Pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 32 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 48.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=0c1f140ea13ab316b92d22546370d859efa703bc0934b6b0eff825bb28547711
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
#Initializing PySpark
from pyspark import SparkContext, SparkConf #import sparkcontext and sparkconfig from pyspark
from pyspark.sql import SparkSession #import sparksession from pyspark.sql
from pyspark.sql import SQLContext #import sparkcontext from pyspark.sql

#Spark Config
conf = SparkConf().setAppName("sample_app") #config the app name as variable as conf
sc = SparkContext(conf=conf) # creating the sparkcontext as variable sc
spark = SparkSession.builder.appName('Test').getOrCreate() #creating spark and appname as test to get or create 
sqlContext = SQLContext(sc) # sqlcontext

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:114: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning,

In [ ]:
sc # check the version and app name as sc

##**Read the File**

In [ ]:
#Reading the csv file of the data
olympix= spark.read.format("csv").option("header","true").option("inferSchema","true").option("delimeter",",").load("/content/olympix_data_organized.csv") 
olympix.show() #print output

+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
|                name|age|      country|year|Date_Given|              sports|gold_medal|silver_medal|brone_medal|total_medal|
+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
|      Michael Phelps| 23|United States|2008| 8/24/2008|            Swimming|         8|           0|          0|          8|
|      Michael Phelps| 19|United States|2004| 8/29/2004|            Swimming|         6|           0|          2|          8|
|      Michael Phelps| 27|United States|2012|08-12-2012|            Swimming|         4|           2|          0|          6|
|    Natalie Coughlin| 25|United States|2008| 8/24/2008|            Swimming|         1|           2|          3|          6|
|       Aleksey Nemov| 24|       Russia|2000|10-01-2000|          Gymnastics|         2|           1|          3|          6|
|       Alicia Coutts| 24|    Australia|2012|08-12-2012|            Swimming|         1|           3|          1|          5|
|      Missy Franklin| 17|United States|2012|08-12-2012|            Swimming|         4|           0|          1|          5|
|         Ryan Lochte| 27|United States|2012|08-12-2012|            Swimming|         2|           2|          1|          5|
|     Allison Schmitt| 22|United States|2012|08-12-2012|            Swimming|         3|           1|          1|          5|
|    Natalie Coughlin| 21|United States|2004| 8/29/2004|            Swimming|         2|           2|          1|          5|
|          Ian Thorpe| 17|    Australia|2000|10-01-2000|            Swimming|         3|           2|          0|          5|
|         Dara Torres| 33|United States|2000|10-01-2000|            Swimming|         2|           0|          3|          5|
|       Cindy Klassen| 26|       Canada|2006| 2/26/2006|       Speed Skating|         1|           2|          2|          5|
|       Nastia Liukin| 18|United States|2008| 8/24/2008|          Gymnastics|         1|           3|          1|          5|
|       Marit Bjørgen| 29|       Norway|2010| 2/28/2010|Cross Country Skiing|         3|           1|          1|          5|
|            Sun Yang| 20|        China|2012|08-12-2012|            Swimming|         2|           1|          1|          4|
|     Kirsty Coventry| 24|     Zimbabwe|2008| 8/24/2008|            Swimming|         1|           3|          0|          4|
|Libby Lenton-Tric...| 23|    Australia|2008| 8/24/2008|            Swimming|         2|           1|          1|          4|
|         Ryan Lochte| 24|United States|2008| 8/24/2008|            Swimming|         2|           0|          2|          4|
|      Inge de Bruijn| 30|  Netherlands|2004| 8/29/2004|            Swimming|         1|           1|          2|          4|
+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
only showing top 20 rows

###**Explanation**

As per the above result, we use spark.read.format and including header and infer schema and delimeter as well.

##**Basic Analysis**

In [ ]:
print(olympix.count()) #counting the total number of rows present in the data set

8618

###**Explanation**

We can see the above result,we have 8618 rows present in the data set by using count function.

#**Removing the null values**

In [ ]:
# if any row having any Null
# value we are dropping that
# rows
olympix=olympix.dropna(how="all")
olympix.show()

+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
|                name|age|      country|year|Date_Given|              sports|gold_medal|silver_medal|brone_medal|total_medal|
+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
|      Michael Phelps| 23|United States|2008| 8/24/2008|            Swimming|         8|           0|          0|          8|
|      Michael Phelps| 19|United States|2004| 8/29/2004|            Swimming|         6|           0|          2|          8|
|      Michael Phelps| 27|United States|2012|08-12-2012|            Swimming|         4|           2|          0|          6|
|    Natalie Coughlin| 25|United States|2008| 8/24/2008|            Swimming|         1|           2|          3|          6|
|       Aleksey Nemov| 24|       Russia|2000|10-01-2000|          Gymnastics|         2|           1|          3|          6|
|       Alicia Coutts| 24|    Australia|2012|08-12-2012|            Swimming|         1|           3|          1|          5|
|      Missy Franklin| 17|United States|2012|08-12-2012|            Swimming|         4|           0|          1|          5|
|         Ryan Lochte| 27|United States|2012|08-12-2012|            Swimming|         2|           2|          1|          5|
|     Allison Schmitt| 22|United States|2012|08-12-2012|            Swimming|         3|           1|          1|          5|
|    Natalie Coughlin| 21|United States|2004| 8/29/2004|            Swimming|         2|           2|          1|          5|
|          Ian Thorpe| 17|    Australia|2000|10-01-2000|            Swimming|         3|           2|          0|          5|
|         Dara Torres| 33|United States|2000|10-01-2000|            Swimming|         2|           0|          3|          5|
|       Cindy Klassen| 26|       Canada|2006| 2/26/2006|       Speed Skating|         1|           2|          2|          5|
|       Nastia Liukin| 18|United States|2008| 8/24/2008|          Gymnastics|         1|           3|          1|          5|
|       Marit Bjørgen| 29|       Norway|2010| 2/28/2010|Cross Country Skiing|         3|           1|          1|          5|
|            Sun Yang| 20|        China|2012|08-12-2012|            Swimming|         2|           1|          1|          4|
|     Kirsty Coventry| 24|     Zimbabwe|2008| 8/24/2008|            Swimming|         1|           3|          0|          4|
|Libby Lenton-Tric...| 23|    Australia|2008| 8/24/2008|            Swimming|         2|           1|          1|          4|
|         Ryan Lochte| 24|United States|2008| 8/24/2008|            Swimming|         2|           0|          2|          4|
|      Inge de Bruijn| 30|  Netherlands|2004| 8/29/2004|            Swimming|         1|           1|          2|          4|
+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
only showing top 20 rows

###**Explanation**

As per the above output,no null values are present.

##**PySpark code to print the Olympic Sports/games in the dataset.**

In [ ]:
olympix.select("sports").distinct().show() # unique data using distinct function()

+--------------------+
|              sports|
+--------------------+
|          Gymnastics|
|              Tennis|
|              Boxing|
|Short-Track Speed...|
|          Ice Hockey|
|              Rowing|
|                Judo|
|            Softball|
|             Sailing|
|            Swimming|
|       Alpine Skiing|
|          Basketball|
|            Handball|
| Rhythmic Gymnastics|
|            Biathlon|
|           Triathlon|
|           Badminton|
|           Athletics|
|      Figure Skating|
|    Beach Volleyball|
+--------------------+
only showing top 20 rows

###**Explanation**

As per the above output, the list of the sports mentioned in the dataset.

##**PySpark code to the total number of medals in  each Olympic Sport/game**

In [ ]:
res=olympix.groupBy("sports").agg({"total_medal":"sum"}) # grouping the sports nd sum of total medals
res.show() #print output

+--------------------+----------------+
|              sports|sum(total_medal)|
+--------------------+----------------+
|          Gymnastics|             282|
|              Tennis|              78|
|              Boxing|             188|
|Short-Track Speed...|             138|
|          Ice Hockey|             384|
|              Rowing|             576|
|                Judo|             224|
|            Softball|             134|
|             Sailing|             210|
|            Swimming|             765|
|       Alpine Skiing|              90|
|          Basketball|             287|
|            Handball|             351|
| Rhythmic Gymnastics|              84|
|            Biathlon|             138|
|           Triathlon|              24|
|           Badminton|              96|
|           Athletics|             753|
|      Figure Skating|              54|
|    Beach Volleyball|              48|
+--------------------+----------------+
only showing top 20 rows

In [ ]:
import numpy as np #Importing numpy library
import pandas as pd #Importing pandas library
import matplotlib.pyplot as plt #Importing matplot library
import seaborn as sns # Importing seaborn library

In [ ]:
#converting spark df to pandas df 
pandasDF =res.toPandas() 
print(pandasDF) #print output

                       sports  sum(total_medal)
0                  Gymnastics               282
1                      Tennis                78
2                      Boxing               188
3   Short-Track Speed Skating               138
4                  Ice Hockey               384
5                      Rowing               576
6                        Judo               224
7                    Softball               134
8                     Sailing               210
9                    Swimming               765
10              Alpine Skiing                90
11                 Basketball               287
12                   Handball               351
13        Rhythmic Gymnastics                84
14                   Biathlon               138
15                  Triathlon                24
16                  Badminton                96
17                  Athletics               753
18             Figure Skating                54
19           Beach Volleyball                48
20                 Equestrian               182
21                   Shooting               192
22                     Diving               144
23                   Skeleton                18
24                Ski Jumping                54
25            Nordic Combined                54
26                  Wrestling               245
27              Speed Skating               140
28               Table Tennis                84
29                  Taekwondo               112
30                   Canoeing               333
31              Weightlifting               180
32                  Waterpolo               306
33                   Baseball               216
34          Modern Pentathlon                24
35               Snowboarding                48
36                  Bobsleigh                72
37                    Cycling               306
38       Cross Country Skiing               174
39                 Volleyball               281
40                    Archery                96
41      Synchronized Swimming               129
42                    Curling                82
43                    Fencing               256
44                     Hockey               388
45           Freestyle Skiing                42
46                   Football               407
47                       Luge                36
48                 Trampoline                24

##**Sort the result based on the total number of medals.**

In [ ]:
from pyspark.sql.functions import col #importing the col function from pyspark.sql

In [ ]:
olympix.orderBy(col("total_medal").asc(),col("sports").asc()).distinct().show(truncate=False) #sorting the data based on total medals

+---------------------+---+---------------------+----+----------+-------------------------+----------+------------+-----------+-----------+
|name                 |age|country              |year|Date_Given|sports                   |gold_medal|silver_medal|brone_medal|total_medal|
+---------------------+---+---------------------+----+----------+-------------------------+----------+------------+-----------+-----------+
|Wang Meng            |20 |China                |2006|2/26/2006 |Short-Track Speed Skating|1         |1           |1          |3          |
|Rita König           |23 |Germany              |2000|10-01-2000|Fencing                  |0         |1           |1          |2          |
|Botond Storcz        |25 |Hungary              |2000|10-01-2000|Canoeing                 |2         |0           |0          |2          |
|Ole Einar Bjørndalen |36 |Norway               |2010|2/28/2010 |Biathlon                 |1         |1           |0          |2          |
|Roser Tarragó        |19 |Spain                |2012|08-12-2012|Waterpolo                |0         |1           |0          |1          |
|Mieke Cabout         |22 |Netherlands          |2008|8/24/2008 |Waterpolo                |1         |0           |0          |1          |
|Vasa Mijic           |27 |Serbia and Montenegro|2000|10-01-2000|Volleyball               |1         |0           |0          |1          |
|Huang Chih-Hsiung    |23 |Chinese Taipei       |2000|10-01-2000|Taekwondo                |0         |0           |1          |1          |
|Luo Xi               |24 |China                |2012|08-12-2012|Synchronized Swimming    |0         |1           |0          |1          |
|Yevgeny Lagunov      |22 |Russia               |2008|8/24/2008 |Swimming                 |0         |1           |0          |1          |
|Ayumi Karino         |23 |Japan                |2008|8/24/2008 |Softball                 |1         |0           |0          |1          |
|Crystl Bustos        |23 |United States        |2000|10-01-2000|Softball                 |1         |0           |0          |1          |
|Jessica Rossi        |20 |Italy                |2012|08-12-2012|Shooting                 |1         |0           |0          |1          |
|Nino Salukvadze      |39 |Georgia              |2008|8/24/2008 |Shooting                 |0         |0           |1          |1          |
|Merel Witteveen      |23 |Netherlands          |2008|8/24/2008 |Sailing                  |0         |1           |0          |1          |
|Simon Hiscocks       |27 |Great Britain        |2000|10-01-2000|Sailing                  |0         |1           |0          |1          |
|Georgios Vazagkasvili|26 |Georgia              |2000|10-01-2000|Judo                     |0         |0           |1          |1          |
|Saija Sirviö         |27 |Finland              |2010|2/28/2010 |Ice Hockey               |0         |0           |1          |1          |
|Isabelle Chartrand   |23 |Canada               |2002|2/24/2002 |Ice Hockey               |1         |0           |0          |1          |
|Beth Storry          |34 |Great Britain        |2012|08-12-2012|Hockey                   |0         |0           |1          |1          |
+---------------------+---+---------------------+----+----------+-------------------------+----------+------------+-----------+-----------+
only showing top 20 rows

###**Explanation**

As per the above output, the data is sorted according to the total medals won by sports.

##**Total number of medals won by each country in swimming.**

In [ ]:
from pyspark.sql.functions import asc,desc #importing the col function from pyspark.sql

In [ ]:
olympix.filter(olympix.sports=="Swimming").groupBy("country").sum("total_medal").orderBy(desc("sum(total_medal)")).show(10)

+-------------+----------------+
|      country|sum(total_medal)|
+-------------+----------------+
|United States|             267|
|    Australia|             163|
|  Netherlands|              46|
|        Japan|              43|
|       France|              39|
|        China|              35|
|      Germany|              32|
|       Russia|              20|
|        Italy|              16|
|Great Britain|              11|
+-------------+----------------+
only showing top 10 rows

###**Expectation**

As per the above result ,we can see the total number of medals won by each country on swimming

##**Total number of medals won by each country in Skeleton.**

In [ ]:
olympix.filter(olympix.sports=="Skeleton").groupBy("country").sum("total_medal").orderBy(desc("sum(total_medal)")).show(10) # filtering the skeleton and grouping the country and finding the total medals

+-------------+----------------+
|      country|sum(total_medal)|
+-------------+----------------+
|       Canada|               4|
|Great Britain|               3|
|  Switzerland|               3|
|United States|               3|
|      Germany|               2|
|       Russia|               1|
|      Austria|               1|
|       Latvia|               1|
+-------------+----------------+

###**Expectation**

As per the above result ,we can see the total number of medals won by each country on skeleton.

##**Number of medals that the US won yearly.**

In [ ]:
olympix.filter(olympix.country=="United States").groupBy("year").agg({"total_medal":"sum"}).show() # filtering the country and grouping the year and finding total medals won

+----+----------------+
|year|sum(total_medal)|
+----+----------------+
|2006|              52|
|2004|             265|
|2012|             254|
|2000|             243|
|2010|              97|
|2008|             317|
|2002|              84|
+----+----------------+

In [ ]:
olympix.filter(olympix.country=="United States").agg({"total_medal":"sum"}).show() #finding the total number of medals won by united states

+----------------+
|sum(total_medal)|
+----------------+
|            1312|
+----------------+

###**Explanation**

As per the above result, we can see how many medals won by united states on participated year.

The total number of medals won by united states is **1312**.

##**Total number of medals won by each country.**

In [ ]:
res1 = olympix.groupBy("country").agg({"total_medal":"sum"}) # grouping the country and sum of total medals 
res1.show() #print output

+--------------+----------------+
|       country|sum(total_medal)|
+--------------+----------------+
|        Russia|             768|
|      Paraguay|              17|
|Chinese Taipei|              20|
|        Sweden|             181|
|       Eritrea|               1|
|     Singapore|               7|
|      Malaysia|               3|
|        Turkey|              28|
|       Germany|             629|
|   Afghanistan|               2|
|         Sudan|               1|
|        France|             318|
|        Greece|              59|
|     Sri Lanka|               1|
|       Algeria|               8|
|          Togo|               1|
|      Slovakia|              35|
|     Argentina|             141|
|       Belgium|              18|
| Great Britain|             322|
+--------------+----------------+
only showing top 20 rows

##**Oldest athlete in the olympics**

In [ ]:
olympix.select("name","age").sort(desc("age")).show(5) #finding the oldest age of athletes

+--------------------+---+
|                name|age|
+--------------------+---+
|          Ian Millar| 61|
|           Mark Todd| 56|
|            Mac Cone| 55|
|        Nick Skelton| 54|
|Lesley Thompson-W...| 52|
+--------------------+---+
only showing top 5 rows

###**Explanaton**

As per the above result the oldest athlete is **IAN MILLAR** and his age is **61**.

##**Which country was he/she from?**

In [ ]:
olympix.select("name","age","country").sort(desc("age")).show(5) #finding the country of oldest athletes

+--------------------+---+-------------+
|                name|age|      country|
+--------------------+---+-------------+
|          Ian Millar| 61|       Canada|
|           Mark Todd| 56|  New Zealand|
|            Mac Cone| 55|       Canada|
|        Nick Skelton| 54|Great Britain|
|Lesley Thompson-W...| 52|       Canada|
+--------------------+---+-------------+
only showing top 5 rows

###**Explanation**

As per the above result,the oldest athlete is IAN MILLER and he belongs to **CANADA**